#counter {
  background: url(../images/template/bg-notes.webp);
}

/* ************************************************************************************************
/* *** HEADER *************************************************************************************
/* ***********************************************************************************************/
#counter .counter-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

#counter .board-header .current {
  width: 75px;
  align-self: center;
  font-family: "OpenSans-Light";
  font-size: 12px;
  color: var(--white-text-color);
}

#counter .board-header .title h3 {
  font-family: "OpenSans-Bold";
  font-size: 16px;
  color: var(--white-text-color);
  line-height: 1rem;
}

#counter .board-header .title h3 span {
  display: block;
  font-family: "OpenSans-Light";
  font-size: 12px;
  font-weight: lighter;
  color: inherit;
}

#counter .board-header .title h3 span.total-users {
  display: inline-block;
}

#counter .board-header .reset {
  width: 75px;
  align-self: center;
}

#counter .board-header .reset button {
  font-family: "OpenSans-Light";
  font-size: 12px;
  color: var(--white-text-color);
  border: 1px solid var(--main-green-color);
  border-radius: 3px;
  outline: none;
  background: #14d1a2;
  background: -moz-linear-gradient(-45deg, #14d1a2 0%, #0ba07b 100%);
  background: -webkit-linear-gradient(-45deg, #14d1a2 0%, #0ba07b 100%);
  background: linear-gradient(135deg, #14d1a2 0%, #0ba07b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14D1A2', endColorstr='#0BA07B',GradientType=1 );
  transition: all 400ms ease-out;
}

#counter .board-header .reset button:hover {
  border-color: var(--dark-red-color);
  background: var(--dark-red-color);
}

/* ************************************************************************************************
/* *** CHART **************************************************************************************
/* ***********************************************************************************************/
#counter .board-content .counter-chart {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

#counter .board-content .counter-chart .counter-datas {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 3px;
  background: var(--main-black-bgcol);
}

#counter .board-content .counter-chart .counter-datas .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  border-right: 1px dashed var(--contrast-gray-color);
}

#counter .board-content .counter-chart .counter-datas .col:last-child {
  border-right: 1px solid transparent;
}

#counter .board-content .counter-chart .counter-datas .col .cnt {
  font-family: "OpenSans";
  font-size: 12px;
  color: var(--white-text-color);
  padding: 5px 0 0 0;
  text-align: center;
}

#counter .board-content .counter-chart .counter-datas .col .bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 250px;
}

#counter .board-content .counter-chart .counter-datas .col .bar .barre {
  width: 60%;
  border-radius: 3px 3px 0 0;
}

#counter .board-content .counter-chart .counter-datas .col .bar .barre.as {
  background: var(--counter-as-color);
}

#counter .board-content .counter-chart .counter-datas .col .bar .barre.us {
  background: var(--counter-us-color);
}

#counter .board-content .counter-chart .counter-datas .col .bar .barre.sw {
  background: var(--counter-sw-color);
}

#counter .board-content .counter-chart .counter-datas .col .bar .barre.ud {
  background: var(--counter-ud-color);
}

#counter .board-content .counter-chart .counter-datas .col .bar .barre.ad {
  background: var(--counter-ad-color);
}

#counter .board-content .counter-chart .counter-datas .col .btn {
  text-align: center;
  border-top: 1px solid var(--contrast-gray-color);
  padding: 10px 0;
}

#counter .board-content .counter-chart .counter-datas .col .btn button {
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: 600;
  color: var(--main-green-color);
  border: 1px solid var(--main-green-color);
  border-radius: 3px;
  outline: none;
  background: var(--main-black-bgcol);
  transition: all 400ms ease-out;
}

#counter .board-content .counter-chart .counter-datas .col .btn button.clickMe {
  color: var(--white-text-color);
  background: #14d1a2;
  background: -moz-linear-gradient(-45deg, #14d1a2 0%, #0ba07b 100%);
  background: -webkit-linear-gradient(-45deg, #14d1a2 0%, #0ba07b 100%);
  background: linear-gradient(135deg, #14d1a2 0%, #0ba07b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14D1A2', endColorstr='#0BA07B',GradientType=1 );
}

/* ************************************************************************************************
/* *** SEARCH BAR *********************************************************************************
/* ***********************************************************************************************/
#counter .board-content .counter-search {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  width: 300px;
  padding: 10px 0;
  margin: 0 auto;
}

#counter .board-content .counter-search label {
  width: 100%;
  font-family: "OpenSans";
  font-size: 12px;
  color: var(--white-text-color);
}

#counter .board-content .counter-search input[type="search"] {
  font-family: "OpenSans";
  font-size: 12px;
  color: var(--main-green-color);
  text-transform: capitalize;
  padding: 5px;
  border-radius: 3px 0 0 3px;
  border: 1px solid var(--main-green-color);
  background-color: var(--main-black-bgcol);
  border-right: none;
  outline: none;
  flex: 1;
}

#counter .board-content .counter-search .clearButton.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#counter .board-content .counter-search .fetchButton {
  font-family: "OpenSans";
  font-size: 12px;
  color: var(--main-green-color);
  font-weight: 600;
  border-radius: 0 3px 3px 0;
  border: 1px solid var(--main-green-color);
  border-left: none;
  outline: none;
  background: var(--main-black-bgcol);
}

#counter .board-content .counter-search .autocomplete {
  position: absolute;
  left: 0;
  top: 58px;
  right: 0;
  display: none;
  height: 150px;
  overflow: hidden;
  overflow-y: auto;
  border: none;
}

#counter .board-content .counter-search .autocomplete.active {
  display: block;
}

#counter .board-content .counter-search .autocomplete button {
  display: block;
  width: 100%;
  font-family: "OpenSans";
  font-size: 12px;
  color: var(--white-text-color);
  text-align: left;
  text-transform: capitalize;
  padding: 5px;
  cursor: pointer;
  border-radius: 0;
  border: none;
  outline: none;
  background: var(--main-black-bgcol);
}

#counter .board-content .counter-search .autocomplete button .smallText {
  text-transform: none;
}

#counter .board-content .counter-search .autocomplete button:hover, 
#counter .board-content .counter-search .autocomplete button:focus {
  font-family: "OpenSans-Bold";
}

/* ************************************************************************************************
/* *** RECENT LOGS ********************************************************************************
/* ***********************************************************************************************/
#counter .board-content .counter-logs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px 10px 10px;
}

#counter .board-content .counter-logs .main-title {
  width: 100%;
  font-family: "OpenSans-Light";
  font-size: 12px;
  color: var(--white-text-color);
  padding: 5px;
  border-bottom: 1px solid var(--contrast-gray-color);
}

/* ************************************************************************************************
/* *** RECENT LOGS  - LISTING *********************************************************************
/* ***********************************************************************************************/
#counter .board-content .counter-logslist .wrapper {
  width: 100%;
}

#counter .board-content .counter-logslist .wrapper .log {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  padding: 3px 10px;
  border: none;
  background: none;
}

#counter .board-content .counter-logslist .wrapper .log span.timestamp, 
#counter .board-content .counter-logslist .wrapper .log span.charname {
  width: 50%;
  font-family: "OpenSans-Light";
  font-size: 12px;
  color: var(--contrast-gray-color);
}

#counter .board-content .counter-logslist .wrapper .log span.charname {
  text-transform: capitalize;
}

#counter .board-content .counter-logslist .wrapper .log:hover span.timestamp, 
#counter .board-content .counter-logslist .wrapper .log:hover span.charname {
color: var(--white-text-color);
}

#counter
  .board-content
  .counter-logslist
  .wrapper
  .log
  span.charname
  .smallText {
  text-transform: none;
}
