#memos {
  background: url(../images/template/bg-notes.webp);
}

/* ************************************************************************************************
/* *** HEADER *************************************************************************************
/* ***********************************************************************************************/
#memos .memos-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#memos .memos-header h3 {
  font-family: "OpenSans-Bold";
  font-size: 16px;
  color: var(--white-text-color);
  line-height: 1rem;
}

#memos .memos-header .back,
#memos .memos-header .home {
  width: 75px;
  align-self: center;
}

#memos .memos-header a {
  font-family: "OpenSans-Light";
  font-size: 12px;
  color: var(--main-green-color);
  text-decoration: none;
}

/* ************************************************************************************************
/* *** ADMIN - FRONT-MENU *************************************************************************
/* ***********************************************************************************************/
#memos .board-content .memos-admin-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#memos .board-content .memos-admin-menu ul {
  width: 100%;
}

#memos .board-content .memos-admin-menu ul li {
  padding: 15px;
}

#memos .board-content .memos-admin-menu ul li a {
  display: block;
  width: 100%;
  font-family: "OpenSans-Bold";
  font-size: 16px;
}

#memos .board-content .memos-admin-menu ul li a button {
  width: 100%;
  color: var(--contrast-gray-color);
  border: none;
  outline: none;
  background: none;
}

#memos .board-content .memos-admin-menu ul li a button:hover {
  color: var(--white-text-color);
}

/* ************************************************************************************************
/* *** ADMIN - TOP-FORM ***************************************************************************
/* ***********************************************************************************************/
#memos .board-content .memos-admin-form .formRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  max-width: 450px;
  padding: 5px 15px;
  margin: 0 auto;
}

#memos .board-content .memos-admin-form .formRow label {
  width: 100%;
  font-family: "OpenSans";
  font-size: 12px;
  color: var(--white-text-color);
}

#memos .board-content .memos-admin-form .formRow input[type="search"] {
  font-family: "OpenSans";
  font-size: 12px;
  color: var(--main-green-color);
  text-transform: capitalize;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--main-green-color);
  background-color: var(--main-black-bgcol);
  outline: none;
  margin-right: 5px;
  flex: 1;
}

#memos .board-content .memos-admin-form .formRow button.badGood {
  font-family: "OpenSans";
  font-size: 12px;
  color: var(--white-text-color);
  font-weight: 600;
  border-radius: 3px;
  border: none;
  outline: none;
  margin-left: 5px;
  opacity: 0.5;
}

#memos .board-content .memos-admin-form .formRow button.badGood.active {
  opacity: 1;
}

#memos .board-content .memos-admin-form .formRow button.badGood.bad {
  border-left: none;
  border-right: none;
  background: var(--admin-bootstrap-danger);
}

#memos .board-content .memos-admin-form .formRow button.badGood.good {
  border-left: none;
  background: var(--admin-bootstrap-success);
}

#memos .board-content .memos-admin-form .formRow button.activeInactive {
  font-family: "OpenSans";
  font-size: 12px;
  color: var(--white-text-color);
  font-weight: 600;
  border-radius: 3px;
  border: none;
  outline: none;
  margin-left: 5px;
  opacity: 0.5;
}

#memos .board-content .memos-admin-form .formRow button.activeInactive.active {
  opacity: 1;
}

#memos .board-content .memos-admin-form .formRow button.activeInactive.false {
  border-left: none;
  border-right: none;
  background: var(--admin-bootstrap-danger);
}

#memos .board-content .memos-admin-form .formRow button.activeInactive.true {
  border-left: none;
  background: var(--admin-bootstrap-success);
}

#memos .board-content .memos-admin-form .formRow select {
  font-family: "OpenSans";
  font-size: 12px;
  color: var(--main-green-color);
  text-transform: capitalize;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--main-green-color);
  background-color: var(--main-black-bgcol);
  outline: none;
  margin-right: 5px;
  flex: 1;
}

#memos .board-content .memos-admin-form .formRow button.saveButton {
  font-family: "OpenSans";
  font-size: 12px;
  color: var(--main-green-color);
  font-weight: 600;
  border-radius: 3px;
  border: 1px solid var(--main-green-color);
  outline: none;
  background: var(--main-black-bgcol);
}

/* ************************************************************************************************
/* *** ADMIN - ITEM LIST **************************************************************************
/* ***********************************************************************************************/
#memos .board-content .memos-admin-list .wrapper {
  width: 100%;
}

#memos .board-content .memos-admin-list .wrapper .item {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid var(--contrast-gray-color);
}

#memos .board-content .memos-admin-list .wrapper .item span.item-infos {
  font-size: 12px;
  font-style: italic;
}

#memos .board-content .memos-admin-list .wrapper .item span.item-dots {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 4px;
}

#memos .board-content .memos-admin-list .wrapper .item.bad span {
  background: var(--admin-bootstrap-danger);
}

#memos .board-content .memos-admin-list .wrapper .item.good span {
  background: var(--admin-bootstrap-success);
}

#memos .board-content .memos-admin-list .wrapper .item .item-name {
  flex-grow: 1;
  font-size: 16px;
  color: var(--white-text-color);
  padding: 0 5px;
}

#memos .board-content .memos-admin-list .wrapper .item .item-name figure {
  display: flex;
  width: 100%;
}

#memos .board-content .memos-admin-list .wrapper .item .item-name figure img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

#memos
  .board-content
  .memos-admin-list
  .wrapper
  .item
  .item-name
  figure
  img.active {
  border: 2px solid var(--main-green-color);
}

#memos
  .board-content
  .memos-admin-list
  .wrapper
  .item
  .item-name
  figure
  img.inactive {
  border: 2px solid var(--admin-bootstrap-danger);
}

#memos
  .board-content
  .memos-admin-list
  .wrapper
  .item
  .item-name
  figure
  figcaption {
  font-size: 16px;
  padding: 0 10px;
}

#memos
  .board-content
  .memos-admin-list
  .wrapper
  .item
  .item-name
  figure
  figcaption
  span {
  display: block;
  font-size: 12px;
  font-style: italic;
}

#memos .board-content .memos-admin-list .wrapper .item .actions ul {
  display: flex;
}

#memos .board-content .memos-admin-list .wrapper .item .actions ul li {
  padding: 0 5px;
}

#memos .board-content .memos-admin-list .wrapper .item .actions ul li button {
  font-size: 12px;
  font-weight: 600;
  color: var(--white-text-color);
  text-transform: uppercase;
  padding: 0 5px;
  margin: 0;
  border: none;
  border-radius: 4px;
}

#memos
  .board-content
  .memos-admin-list
  .wrapper
  .item
  .actions
  ul
  li
  button.edtButton {
  background: var(--admin-bootstrap-info);
}

#memos
  .board-content
  .memos-admin-list
  .wrapper
  .item
  .actions
  ul
  li
  button.delButton {
  background: var(--admin-bootstrap-danger);
}
